.searchContainer {
    display: flex;
    gap:30px;
    margin-left:20px;
    justify-content: space-around;
    width: 40%;
    padding: 10px 0;
    /* background: linear-gradient(87deg, #f788c2, #c53881); */
  }
  
  .searchBox {
    display: flex;
    align-items: center;
    width: 45%; /* Adjust this width as needed for spacing */
    padding: 10px 20px;
    /* background-color: #ffffff33; Semi-transparent white for effect */
    border-radius: 8px;
  }
  
  .zipCode {
    color: #fff;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .iconAndInput {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    width: 100%;
  }
  
  .locationIcon, .searchIcon {
    color: #fff;
    font-size: 18px;
    margin: 0 8px;
  }
  
  .searchInput {
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
    font-size: 16px;
    padding: 5px;
    width: 100%; /* Takes full width within the iconAndInput div */
  }
  
  .searchInput::placeholder {
    color: #fff;
    opacity: 0.8;
  }
  @media (max-width: 1152px) {
    .searchContainer {
      display: flex;
      gap: 10px;
      margin-left: 20px;
      justify-content: space-around;
      width: 80%;
      padding: 10px 0;
    }
  
    .searchBox {
      display: flex;
      align-items: center;
      width: 50%; /* Increase this width for more space */
      padding: 10px 20px;
      border-radius: 8px;
    }
  
    .iconAndInput {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #fff;
      width: 100%; /* Takes full width within the searchBox */
    }
  
    .searchInput {
      background: transparent;
      border: none;
      color: #fff;
      outline: none;
      font-size: 16px;
      padding: 5px;
      width: 100%; /* Takes full width within the iconAndInput div */
    }
  }
  