.meargeMain {
    height: fit-content;
    width: 100%;
    background: linear-gradient(87deg, #f788c2, #c53881);
    display: flex;
    flex-direction: column; /* Ensure items stack vertically */
    align-items: center; /* Center items horizontally */
}

.mergeTop {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchWrapper {
    flex: 1; /* Allow it to take up available space */
    min-width: 200px; /* Set a minimum width */
}

.listWrapper {
    /* Add any specific styles for List wrapper if needed */
}

.mergeBottom {
    height: fit-content;
    padding-top: 10px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.DesktopDropdownWrapper {
    display:block;
}
#dropdownDisplay{
    display:none;

}
#listDisplay{
    display:none;

}
@media (max-width: 1152px) {
    .dropdownWrapper{
        display: none;

    }
    #listDisplay{
        display:block;
        color:white;
    }
    #dropdownDisplay{
        display:block;

    }
    .listWrapper{
        display:none;
    }

    .mergeBottom{
        gap:30px;
        
    }
    
  }